{% if object.location_venue is not empty %}

  <div class="event-venue event-detail">

    <h3 class="title">{{ __("Venue", "clarkson-theme") }}</h3>

    <section class="venue-location" itemprop="location" itemscope itemtype="http://schema.org/Place">

      <div class="venue-name" itemprop="name">{{ object.location_venue }}</div>

      {% include 'events/partials/address.twig' with { object : object }  %}

  	</section>

    {% if object.location_google_maps_link is not empty %}
      <a class="google-maps" href='{{ object.location_google_maps_link }}' target="_blank">
          {{ __("View on google maps", "clarkson-theme") }}
      </a>
    {% endif %}

  </div>
{% endif %}